# --- MOTOR CORE PARA TPU v5e (I SEE PACURE V.3.4) ---
# Nota: torch y torch_xla se deben instalar con el comando especial de Google Cloud
wget==3.2
opencv-python==4.11.0.86
diffusers==0.34.0
transformers==4.53.2
tokenizers==0.21.4
accelerate==1.8.1
tqdm==4.67.1
ftfy==6.3.1
imageio-ffmpeg==0.5.1
numpy==1.26.4
easydict
pyloudnorm
librosa
moviepy==2.2.1
omegaconf==2.3.0
kornia
deep-translator
imageio[ffmpeg]